MODE=development
CORS_ALLOWED_ORIGIN=http://localhost:3000

#Json Web Token
JWT_SECRET=default_secret_key_change_me

# Database connection
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=nama_database_kamu
DB_USER=postgres
DB_PASS=password_kamu